.iio {
    /*position: absolute;*/
    /*left: 0;*/
    margin: 0 2px 0 0;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.test_tube {
    background: url("../icons/icon_set1.png") no-repeat scroll -1px -134px transparent;
}

.big_bottle_life {
    background: url("../icons/icon_set1.png") no-repeat scroll -1px -68px transparent;
}

.skill_sword_1 {
    background: url("../icons/icon_set1.png") no-repeat scroll -1px -851px transparent;
}

.skill_sword_2 {
    background: url("../icons/icon_set1.png") no-repeat scroll -1px -851px transparent;
}
